<a href="https://www.zhihu.com/question/54171891">知乎大神的北京必去景点介绍</a>
<h1>下面的仅供参考</h1>
<h2>Option 1</h2>
<div>
    1.晚上直接酒店休息<br>
    2.天安门广场，毛主席纪念堂，然后去故宫，如果时间早连北海公园景山公园一起逛了，晚上逛前门，品尝全聚德烤鸭或者东来顺涮羊肉，购买北京土特产晚上就去前门吃全聚德烤鸭或者都一处烧麦，买点稻香村的点心、六必居的酱菜还有烤鸭当礼物带回去<br>
    3.长城一日游，2号线西直门出来北京北站坐S2线，1个半小时抵达八达岭长城，别做德胜门的877，堵起车来没谱。如果赶上了6点12第一班火车，那么可以把十三陵一起逛了。如果11点以后才到长城，那就别去了，时间来不及。晚上鸟巢水立方看夜景<br>
    4.东直门乘坐980终点站就是云佛山滑雪场，滑雪一日游，晚上回酒店休息<br>
    5.上午4号线北宫门出来颐和园，然后下午清华北大，晚上南锣鼓巷，看北京胡同吃北京小吃<br>
    6.动车去天津，第五大道——意式风情街——瓷房子——南开食品街——天津之眼<br>
    7.塘沽一日游，看海吃海鲜<br>
    8.返回北京，上午天坛，下午雍和宫，晚上飞机回家<br>
    9.秦皇岛就别去了<br>
</div>
<h2>Option 2</h2>
<div>
    北京七日自助游行程安排：<br>
    <br>
    第一天：天安门广场→故宫（紫禁城） →景山公园<br>
    第二天：北海公园→什刹海（后海）<br>
    第三天：香山公园→圆明园遗址→北京大学<br>
    第四天：大栅栏商业街→天坛<br>
    第五天：颐和园<br>
    第六天：八达岭长城→十三陵<br>
    第七天：北京欢乐谷<br>
    <br>
    住宿推荐：推荐德胜门附近酒店，因为这里靠近西直门地铁中转站，也是很多景点公交的始发站，交通方便。北京的轨道交通覆盖很广，乘坐地铁出行最方便。预订地铁沿线酒店，可以很快到达目的地。<br>
    <br>
    具体行程安排如下：<br>
    <br>
    第一天：天安门广场→故宫（紫禁城）→景山公园<br>
    <br>
    交通：早晨，从西直门坐地铁2号线，到复兴门换乘1号线，到达天安门西站或天安门东站。
    行程：首先逛一逛天安门广场，故宫在天安门对面，可从地下通道步行前往。故宫很大，建议沿中轴线游览，不至于走的迷失了方向。参观完故宫，从神武门出发，可以到对面的景山公园游览，站在景山上可以看到故宫全景，很壮观。<br>
    贴士：进口检票处有电子讲解器租赁10元/次，上面还有个小地图，使用方便，或请参见故宫导游图。<br>
    1、 钟表馆演示厅每日演示两次，每次演示钟表三件，时间为上午11：00 下午14：00。<br>
    2、 午门、神武门有免费存包处（游客也可选择安检后不存包，可在两门之间免费运送），时间是8:30-18:00。<br>
    3、 故宫里面有好几家挂“正大光明”牌匾的照相处，可以多问问，选择最合适的景点和古代服装拍照。<br>
    <br>
    
    第二天：北海公园→什刹海（后海）<br>
    
    交通：从德胜门出发，乘坐5路公交，到北海站，步行前往北海公园。<br>
    行程：公园的面积较大，可根据自身喜好有选择性的游览，在这里7月可赏荷花，11月可赏菊花。中午时分从公园北门出园，过地安门西大街，即到什刹海。这里沿街的饭店很多，午餐推荐烤肉季北侧的清真快餐，或者南侧的东兴顺爆肚张。<br>
    贴士：什刹海附近有好几条颇具特色的老北京胡同，下午不妨花上些时间逛一逛，顺道尝尝京味儿小吃。晚上留在这里泡酒吧，是不错的选择。<br>
    <br>
    <br>
    第三天：香山公园→圆明园遗址→北京大学<br>
    <br>
    交通： 1、从德胜门坐车到动物园站，乘360快车，直达香山站。<br>
    2、从德胜门步行至积水潭站，乘坐地铁2号线，到西直门站换乘4号线，在北宫门站下车（A1口出），乘坐331路前往香山公园。 行程：香山游览线路安排<br>
    1、南线：勤政殿→静翠湖→翠微亭→双清别墅→欢喜园→香山寺<br>
    2、中线：勤政殿→玉华岫→香雾窟→香炉峰<br>
    3、北线：勤政殿→知松园→昭庙→见心斋→眼镜湖→索道→碧云寺<br>
    <br>
    从香山上下来，继续乘坐331路，直达圆明园的绮春园宫门。圆明园怀旧多于看景，可一直游览至午时。之后可步行至北京大学校内的食堂，或周边的饭馆享用午餐。北大原先是属于圆明园的一部分，随处可见皇家园林的遗迹和气派。闲庭散步之余，顺便拜访一下校内的著名景点，包括有蔡元培铜像、塞万提斯像、施德楼（楼前的麒麟、丹墀均为圆明园遗物）、勺园（明朝著名书画家米万钟于明万历年间所建）、博雅塔、校友门、未名湖等。<br>
    贴士：香山不高，但空气和风景都绝佳，清晨登山更是觉得神清气爽。如果正值深秋，还可以看到漫山红叶，不过那是游人也非常多。<br>
    <br>
    第四天：大栅栏商业街→天坛<br>
    <br>
    交通：从德胜门到西直门或积水潭乘坐地铁2号线到前门站，步行至大栅栏。<br>
    <br>
    行程：一早步行前往大栅栏商业街，这是北京最古老、最著名且有别具一格的古老街市，极具老北京风味儿。大名鼎鼎的广德楼就在这条街上，有兴致的不妨进去坐坐。中午前后乘公交106路抵达天坛。这里是明清两代皇帝祭祀天地之神和祈祷五谷丰收的地方，建筑结构奇特。参观完毕返回前门附近休息，顺带在前门西街的全聚德品尝正宗的北京烤鸭。<br>
    <br>
    <br>
    第五天：颐和园 交通：西直门站乘地铁4号线到西苑站 下车（A口出），步行至颐和园。<br>
    
    行程：东宫门入园--仁寿殿--德和园--谐趣园--万寿山--澹宁堂--苏州街--四大部洲--香岩宗印之阁--智慧海--佛香阁--排云殿--长廊--石舫--西堤--耕织图景区--绣漪桥--廓如亭--十七孔桥--南湖岛--乘船游览昆明湖--排云殿码头--长廊--乐寿堂--宜芸馆--玉澜堂--知春亭--文昌院--游览结束<br>
    贴士：去颐和园游览，最好从东宫门入园。<br>
    <br>
    <br>
    第六天：八达岭长城→十三陵<br>
    <br>
    交通：德胜门，转乘919路公交直达八达岭长城脚下。从八达岭正门坐车，919坐到昌平西关站，换乘314或者昌23，在定陵下车。返回在定陵坐314到昌平东关，坐345快车到德胜门。<br>
    行程：上午登长城，中午吃过饭从八达岭坐车到十三陵，可以一天玩两个景点。<br>
    贴士：1、晴天可预约参观夜长城，人数需要达到20人以上，需要提前预约，单人不能预约。时间：19:00-21:00；预约电话：010-69121358<br>
    2、假期间每日上午10时至11时，下午2时至3时是游客高峰时段。可以避开假期游览长城；前来游览尽量乘坐919公交车或火车；遇到与家人走散、摔伤等紧急情况可与民警联系。<br>
    3、长城部分地段坡度很大，最好穿运动鞋。<br>
    4、定陵下午6点关门，最好下午3点以前到达定陵。<br>
    <br>
    <br>
    第七天：北京欢乐谷<br>
    <br>
    交通：德胜门，地铁2号线，到建国门站换乘地铁1号线，到国贸站，换乘10号线到劲松桥东站，到劲松桥东，换乘公交41路，厚俸桥南（北京欢乐谷）站下车即到。<br>
</div>
<h3>
  <div>
    <a href="http://lvyou.baidu.com/plan/ebc6803abd43fb933325a540##%23">详细介绍</a><br>
      第1天 北京 烟袋斜街 - 南锣鼓巷 - 铃木食堂菊儿胡同店 - 印巷小馆(南锣鼓巷店) - 鼓楼 - 三元梅园(鼓楼西大街店) - 后海 - 云海肴(后海店)<br>
      “特色：入住四合院，感受老北京的别样文艺小清新，体验后海酒吧街的繁华。 行程安排：建议下地铁后中午先到客栈办理入住，稍事休息后，再出发游览。后海可以放在傍晚天尚未黑时再游览，体验后海的白天与黑夜。其他三个景点的游览顺序可以根据入住客栈的位置灵活机动变化。 门票：登鼓楼需要门票，其它均不用门票。（个人觉得鼓楼也没有必要登）”<br>
      住宿：南锣鼓巷<br>
      第2天 北京 3810c8798400da929d09f7fb - 国家大剧院 - 天安门广场 - 国家博物馆 - 毛主席纪念堂 - 天安门 - 故宫 - 景山公园 - 王府井步行街 - 外婆家(apm店) - 东来顺(王府井店) - 吴裕泰(王府井店) - 东安门夜市<br>
      “推荐入住南锣鼓巷附近四合院客栈，感受老北京四合院氛围，古朴而不失韵味。建议4天不要更换住宿地点，省去换旅舍的麻烦。在南锣鼓巷附近住宿一是可以体验老北京四合院的感觉，二是周边环境氛围很好让人很放松，三是附近临近地铁站交通方便。标准间：200-300元左右。如：紫地客栈、胡同印象、鑫园客栈等。因比较火爆，建议提前预定！”<br>
      住宿：南锣鼓巷<br>
      第3天 北京 南锣鼓巷 - 798艺术区 - 那家小馆(七九八店) - 天下盐(大山子店) - 鸟巢 - 水立方<br>
      “特色：感受近现代的北京，中外文化的碰撞。 行程安排：798艺术区很大，展览和艺术中心很多，可以慢慢游慢慢逛，喜欢拍照的在这里能出很多片子。大约逛到3点左右乘车前往奥林匹克公园。一天游览完，不到8点便可到达住处，为第二天出发下一站做准备。 备注：午餐可在798就餐，因为是艺术区，餐费可能偏贵。晚餐建议自带干粮和水，在景区解决。”<br>
      住宿：南锣鼓巷<br>
      第4天 北京 北京大学 - 清华大学<br>
      “特色：感受学府风味，餐饮建议在学校吃食堂，感受大学食堂的风味。”<br>
      住宿：南锣鼓巷<br>
      第5天 北京 颐和园 - 圆明园<br>
      “特色：感受皇家园林。因为一天都在景区，景区附近无特别独特的餐厅，建议前一天购买食物和水果带上或者在景区吃。”<br>
      第6天 北京 八达岭长城 - 明十三陵 住宿：南锣鼓巷<br>
      第7天 北京 雍和宫 - 国子监 - 簋街<br>

  </div>
  
</h3>

